<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>META Rover Controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"">
    <!-- stylesheet 수정필요 -->
</head>
<body onseletstart = "return false">
    <div class = 'Controller'>
        <div class = 'button' id = 'leftrotate'><p class = 'arrow'>⟲</p></div>
        <div class = 'button' id = 'forward'><p class = 'arrow'>↑</p></div>
        <div class = 'button' id = 'rightrotate'><p class = 'arrow'>⟳</p></div>
        <div class = 'button' id = 'left'><p class = 'arrow'>←</p></div>
        <div class = 'button' ></div>
        <div class = 'button' id = 'right'><p class = 'arrow'>→</p></div>
        <div class = 'button' ></div>
        <div class = 'button' id = 'backward'><p class = 'arrow'>↓</p></div>
        <div class = 'button' ></div>
        

        <script>
            var omitformtags = ["input", "textarea", "select"]
            omitformtags = omitformtags.join("|")

            function disableselect(e) {
                if (omitformtags.indexOf(e.target.tagName.toLowerCase()) == -1)
                    return false
            }

            function reEnable() {
                return true
            }

            if (typeof document.onselectstart != "undefined")
                document.onselectstart = new Function("return false")
            else {
                document.onmousedown = disableselect
                document.onmouseup = reEnable
            }

            function sendSignal(index){
                fetch(`http://192.168.1.103:5000/${index}/`)
            }

            let forward = document.getElementById('forward');

            forward.addEventListener('touchstart', function() {
            sendSignal('forward');
            console.log('전진');
            this.style.backgroundColor = '#e74c3c';
            });

            forward.addEventListener('touchend', function() {
            sendSignal('stop');
            console.log('정지');
            this.style.backgroundColor = '#e0e0e0';
            
            });






            let backward = document.getElementById('backward');


            backward.addEventListener('touchstart', function() {
            sendSignal('backward');
            console.log('후진');
            this.style.backgroundColor = '#e74c3c';
            });

            backward.addEventListener('touchend', function() {
            sendSignal('stop');
            console.log('정지');
            this.style.backgroundColor = '#e0e0e0';
            });





            let left = document.getElementById('left');

            left.addEventListener('touchstart', function() {
            sendSignal('leftForward');
            console.log('좌회전');
            this.style.backgroundColor = '#e74c3c';
            });

            left.addEventListener('touchend', function() {
            sendSignal('stop');
            console.log('정지');
            this.style.backgroundColor = '#e0e0e0';
            });




            let right = document.getElementById('right');

            right.addEventListener('touchstart', function() {
            sendSignal('rightForward');
            console.log('우회전');
            this.style.backgroundColor = '#e74c3c';
            });

            right.addEventListener('touchend', function() {
            sendSignal('stop');
            console.log('정지');
            this.style.backgroundColor = '#e0e0e0';
            });




            let leftrotate = document.getElementById('leftrotate');

 
            leftrotate.addEventListener('touchstart', function() {
            sendSignal('leftRotate');
            console.log('좌선회');
            this.style.backgroundColor = '#e74c3c';
            });

            leftrotate.addEventListener('touchend', function() {
            sendSignal('stop');
            console.log('정지');
            this.style.backgroundColor = '#e0e0e0';
            });




            let rightrotate = document.getElementById('rightrotate');

            rightrotate.addEventListener('touchstart', function() {
            sendSignal('rightRotate');
            console.log('우선회');
            this.style.backgroundColor = '#e74c3c';
            });

            rightrotate.addEventListener('touchend', function() {
            sendSignal('stop')
            console.log('정지');
            this.style.backgroundColor = '#e0e0e0';
            });
        </script>

    </div>
    
</body>
</html>